<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Custom Quiz" />
    <meta name="keywords" content="Javascript, Quiz, Javascript Quiz" />

    <title>Congrats!</title>
    <link rel="stylesheet" href="/css/generalKnowledge.css" />
  </head>
  <body>
    <main class="container">
      <div id="end" class="flex-center flex-column">
        <h1 id="finalScore">Your final score is:</h1>
        <a class="btn" href="/game">Play Again</a>
        <a class="btn" href="/general">Go Home</a>
        <button id="exitGame" class="btn exit-btn">Exit Game</button>
      </div>
    </main>
    <script src="/js/generalKnowledge.js"></script>
  </body>
</html>
<!-- <link rel="stylesheet" href="/public/css/generalKnowledge.css" /> -->
<!-- <script src="/public/js/generalKnowledge.js"></script> -->
